body {
	background-color: #333;
}

#signatureparent {
		color:darkblue;
		background-color:darkgrey;
		width:800px;
		padding:20px; 
		margin-left:90px; 
		border:3px; border-radius:25px;
	}

/*This is the div within which the signature canvas is fitted*/
#signature {
		border: 2px dotted black; 
		background-color:lightgrey; }