#mySignatureparent {
		color:darkblue;
		background-color:darkgrey;
		/*max-width:600px;*/
		margin-left: 10%;
		padding:20px; width:800px; height: 200px;
		border:5px; border-radius:15px;
	}

/*This is the div within which the signature canvas is fitted*/
#mySignature {
		border: 2px dotted black; height:150px;
		background-color:lightgrey; 
}
