.input {
	width: 75px;
}
p {
	text-align: left;
}
body {
	width:1023px;
	height:600px;
	top:0px; left:0px; 
	position:absolute;
	background-attachment: fixed;
	margin: 0;
	color: #000;
    background: url('../images/background.jpg') #000;
}
#container {
    position:absolute;
    top: 20px;
    left: 15px;
    opacity: .85;
}
#footer {
	position:absolute; bottom: 10px; left: 480px; text-align:center;	
}
li {
	margin: 0;
	padding: 0
}
ul {
	margin: 0;
	padding: 0
}
a {
	font-family: arial, sans-serif;
	color: #12c;
	text-decoration: none
}